code/Lib/
code/Include/
code/Scripts/
code/extensions/__pycache__/
*.log
*.pickle
code/.env
code/pyvenv.cfg
code/credentials.json
.vscode/settings.json
code/extensions/modules/__pycache__/gsheets.cpython-39.pyc
