code/Lib/
code/Include/
code/Scripts/
code/tests
code/extensions/__pycache__/
code/extensions/modules/__pycache__/
*.log
*.pickle
code/.env
code/pyvenv.cfg
code/credentials.json
.vscode/settings.json
code/extensions/moderator_commands.py

.replit
poetry.lock
pyproject.toml
code/repl.it/
*/__pycache__/